@model WebWinkelGroep5.Models.ProductModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>document.title = "Prijs gewijzigd"</script>
<h1>Prijs gewijzigd!</h1>
<form action="~/Product/changeimage?productId=@Model.productId" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend> Upload Image </legend>
        <label for="Image">Image</label>
        <input type="file" name="Image" />
        <br />
        <input type="submit" value="Upload" />

        <input name="action" value="submit" type="hidden">
    </fieldset>
</form>
<form action="~/Product/changename?productId=@Model.productId" method="post" enctype="multipart/form-data">
    <fieldset>
        Naam:<br>

        <input name="name" size="30" type="text"><br>
        <input value="Verzend" type="submit">
    </fieldset>
</form>
<form action="~/Product/changeprice?productId=@Model.productId" method="post" enctype="multipart/form-data">
    <fieldset>
        Prijs:<br>

        <input name="price" size="30" type="number"><br>
        <input value="Verzend" type="submit">
    </fieldset>
</form>
<form action="~/Product/changedetails?productId=@Model.productId" method="post" enctype="multipart/form-data">
    <fieldset>
        Details:<br>

        <textarea name="details" rows="7" cols="30"></textarea><br>
        <input value="Verzend" type="submit">
    </fieldset>
</form>
