@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@Html.Raw(ViewBag.Message + ViewBag.Details)
@{
    if (Session["isAdmin"] != null)
    {
        if ((bool)Session["isAdmin"])
        {
            <li><a href="@ViewBag.EditUrl">Bewerken</a></li>
        }
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

