@model WebWinkelGroep5.Models.ProductModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<img src="@Model.imageURL" alt="Sorry voor het ongemak!" style="width:auto;height:228px"><br />
@Model.details <br />
<a href="../Winkelmand/AddToWinkelmand?productId=@Model.productId&amount=1">Stop in winkelmand</a>
   @{if (Session["isAdmin"] !=null)
   {
   if ((bool)Session["isAdmin"])
   {
    <li><a href="../product/changeproduct?productId=@Model.productId">Bewerken</a></li>
    }
    }
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

