@{
    ViewBag.Title = "ImageUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebImage photo = null;
    var newFileName = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);

            photo.Save(@"~/Images/" + newFileName);
        }
    }
}
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend> Upload Image </legend>
            <label for="Image">Image</label>
            <input type="file" name="Image" />
            <br />
            <input type="submit" value="Upload" />
        </fieldset>
    </form>
    <h1>Uploaded Image</h1>
    @if (newFileName != "")
    {
        <div class="result">
            <img src="~/Images/@newFileName" alt="image" />

        </div>
    }
