@model WebWinkelGroep5.Models.ProductListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>document.title = "Producten"</script>
<h2>Producten</h2>
@{
    foreach (WebWinkelGroep5.Models.ProductModel m in Model.productList)
    {

        <a href="../Product/details?productId=@m.productId"><img src="@m.imageURL" title="@m.name" alt="Sorry voor het ongemak" style="width:auto;height:228px;float:left"></a>

    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
