@{
    ViewBag.Title = "Producten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Producten</h2>
@ViewBag.Message

<table align="center">

    <tr>
        <td>Beukenhouten stoel met charmante vormen</td>
        <td>Essenhouten stoel van hogekwaliteit</td>
        <td>Bruine hout stoel met elegante vormen</td>
    </tr>

    <tr>
        <th><a href="Stoel1.html"><img src="~/Images/stoel1.jpg" title="Stoel 1" alt="Sorry voor de ongemak"></th>
        <th><a href="Stoel2.html"><img src="~/Images/stoel2.jpg" title="Stoel 2" alt="Sorry voor de ongemak"></th>
        <th><a href="Stoel3.html"><img src="~/Images/stoel3.jpg" title="Stoel 3" alt="Sorry voor de ongemak"></th>
    </tr>

    <tr>
        <td><br><br>Mooie notenhout kleur stoel</td>
        <td><br><br>Eigenzinnige houten stoel</td>
        <td><br><br>Overal passende houten stoel</td>
    </tr>

    <tr>
        <th><a href="Stoel4.html"><img src="~/Images/stoel4.jpg" title="Stoel 4" alt="Sorry voor de ongemak"></th>
        <th><a href="Stoel5.html"><img src="~/Images/stoel5.jpg" title="Stoel 5" alt="Sorry voor de ongemak"></th>
        <th><a href="Stoel6.html"><img src="~/Images/stoel6.jpg" title="Stoel 6" alt="Sorry voor de ongemak"></th>
    </tr>

    <tr>
        <td><br><br>Elegante houten stoel</td>
        <td><br><br>Wit met bruin houten stoel</td>
    </tr>

    <tr>
        <th><a href="Stoel7.html"><img src="~/Images/stoel7.jpg" title="Stoel 7" alt="Sorry voor de ongemak"></th>
        <th><a href="Stoel8.html"><img src="~/Images/stoel8.jpg" title="Stoel 8" alt="Sorry voor de ongemak"></th>
    </tr>

</table>	

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


