
@{
}
<script>document.title = "Over ons"</script>
<hgroup class="title">
    <h1>Over Ons.</h1>
</hgroup>

<article>
    <p>
        <b>Over ons</b><br />
        Wooods is een gerenomeerde winkel die u kunt vinden in het centrum van Alkmaar. Wooods is opgericht door twee bevriende meubelmakers uit Alkmaar die een nieuwe uitdaging zochten als zelfstandige ondernemers. Het bedrijf is sindsdien verder gegroeid tot een gezonde onderneming die 14 mensen te werk stelt en bekend is bij wel 95% van de bewoners van onze regio. Onze focus ligt op klantvriendelijkheid, expertise en maatwerk.
    </p>
    <p>
        Wooods produceert over het algemeen houten meubels, die geheel met de hand worden gemaakt in onze eigen werkplaats. We bieden producten met onze eigen designs aan(die u kunt bekijken in onze showroom en op onze website!). Daarnaast maken wij ook meubels op maat naar het ontwerp van onze klanten. U bent altijd welkom bij onze showroom om onder het genot van een kopje koffie vrijblijvend rond te kijken.
        U krijgt altijd deskundig advies door onze ervaren professionals en wanneer u niet tevreden bent met ons aanbod, kunt u altijd een afspraak met ons maken om op maat meubels voor u te maken.
    </p>
    <p>
        <b>Webshop</b><br />
        Sinds 1 april 2015 hebben we ook een webshop waar onze vaste en wisselende collectie meubels wordt aangeboden, hierdoor kunt U vanuit heel Nederland kennis maken met ons assortiment van ongeëvenaarde kwaliteit. In onze regio worden de meubels door ons persoonlijk bezorgd en eventueel gemonteerd.
    </p>
    <p>
        <b>Het team</b><br />
        De drijvende kracht achter het succes van Wooods en de kwaliteit van onze producten zijn onze enthousiaste collega’s die alle klanten dagelijks bedienen. Elke dag gaan onze collega’s met bijzonder veel plezier naar hun werk. Onze collega’s zijn allemaal goed bevriend met elkaar wat zorgt voor een gezellige familiesfeer op de werkvloer.
        Om kennis te maken met ons team klik @Html.ActionLink("hier", "Werknemers", "Home").
    </p>
    <p>
        Heeft u vragen, opmerkingen of suggesties?
        Neem @Html.ActionLink("Contact", "Contact", "SendMailer")met ons op!
    </p>
</article>
