@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>U kunt ons op deze manier bereiken</h3>
    </header>
    <p>
        <span class="label">Telefoonnummer</span>
        <span>0697653591</span>
    </p>
    <p>
        <span class="label">Openingstijden</span>
        <span>
            Maandag-vrijdag: 09:00-18:00<br />
            Zaterdag: 10:00-17:00
        </span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
        <p>Neem contact met ons op via het contactformulier</p>
    </header>
    <input name="action" value="submit" type="hidden"> Naam:<br>
    <input name="name" size="30" type="text"><br> E-mail adres:<br>
    <input name="email" size="30" type="text"><br> Uw bericht:<br>
    <textarea name="message" rows="7" cols="30"></textarea><br>
    <input value="Verzend" type="submit">
    </form>
</section>

<section class="contact">
    <header>
        <h3>Adres</h3>
    </header>
    <p>
        Stationsweg 1<br />
        1815 CD Alkmaar
    </p>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.nl/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=stationsweg+1+alkmaar&amp;aq=&amp;sll=52.635485,4.74191&amp;sspn=0.009064,0.022724&amp;t=h&amp;g=52.637582,4.74079&amp;ie=UTF8&amp;hq=&amp;hnear=Stationsweg+1,+1815+CA+Alkmaar&amp;ll=52.635485,4.74191&amp;spn=0.009063,0.022724&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.nl/maps?f=q&amp;source=embed&amp;hl=nl&amp;geocode=&amp;q=stationsweg+1+alkmaar&amp;aq=&amp;sll=52.635485,4.74191&amp;sspn=0.009064,0.022724&amp;t=h&amp;g=52.637582,4.74079&amp;ie=UTF8&amp;hq=&amp;hnear=Stationsweg+1,+1815+CA+Alkmaar&amp;ll=52.635485,4.74191&amp;spn=0.009063,0.022724&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Grotere kaart weergeven</a></small>
</section>