
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>document.title = "Disclaimer"</script>
<h2>Disclaimer</h2>

Wooods is niet verantwoordelijk voor beschadigde producten of producten die niet bezorgd worden.
<br>
