@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Disclaimer</h2>

Wij zijn niet verantwoordelijk voor beschadigde producten of producten die niet bezorgd worden.<br>
