<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Disclaimer</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Disclaimer</h2>

Wij zijn niet verantwoordelijk voor beschadigde producten of producten die niet bezorgd worden.
<br>
