@{
    ViewBag.Title = "Bedrijf";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Onze natuur webwinkel!
            </p>
        </div>
    </section>
}
<h3>U kunt hier het volgende:</h3>
<ol class="round">
    <li class="one">
        <h5>Koop uw producten</h5>
        U kunt bij ons al uw producten naar keus online bestellen en thuis<br/>
        of zelfs bij een vriend af laten leveren!
    </li>

    <li class="two">
        <h5>Alleen natuurlijke producten</h5>
        Al onze producten zijn natuurlijk.<br/>
        Wij gebruiken alleen hout en andere natuurlijke producten!
    </li>

    <li class="three">
        <h5>Altijd de goedkoopste!</h5>
        Bij "Bedrijf" heeft U garantie altijd het goedkoopste uit te zijn!<br/>
        Als U bij een ander goedkoper uit bent kunt u dit bij ons tonen en dan zullen wij<br/>
        nog wel 5% korting over de prijs van de concurrent geven!
    </li>
</ol>
