

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Wooods.</h1>
                <h2>De plek om design meubels te bestellen!</h2>
            </hgroup>
            <p>
                Onze design webwinkel!
            </p>
        </div>
    </section>
}
<script>document.title = "Home"</script>
<h3>U kunt hier het volgende:</h3>
<ol class="round">
    <li class="one">
        <h5>Koop uw producten!</h5>
        U kunt bij ons al uw producten naar keuze online bestellen en thuis,<br />
        of bij een vriend af laten leveren!
    </li>

    <li class="two">
        <h5>Alleen natuurlijke producten!</h5>
        Al onze producten zijn natuurlijk.<br />
        Wij gebruiken alleen hout en andere natuurlijke producten!
    </li>

    <li class="three">
        <h5>Alleen het beste design meubilair!</h5>
        Bij ons heeft u garantie altijd handgemaakt designer meubilair te kopen!<br />
    </li>
</ol>
