@{
    ViewBag.Title = "Home Page";
}

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->


    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="fullscreenbanner-container">
            <div class="fullscreenbanner">
                <ul>
                    <!-- SLIDE  -->
                    <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="assets/img/sliders/revolution/bg1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="100"
                             data-speed="800"
                             data-start="2000"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            WE ARE TIMANITY CREATIVE TECHNOLOGY COMPANY
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="200"
                             data-speed="1000"
                             data-start="3000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            Creative freedom matters user experience.<br>
                            We minimize the gap between technology and its audience.
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-3 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="360"
                             data-speed="800"
                             data-start="3500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <span class="page-scroll"><a href="#about" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a></span>
                            <span class="page-scroll"><a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a></span>
                        </div>
                    </li>

                    <!-- SLIDE -->
                    <li data-transition="slideup" data-slotamount="5" data-masterspeed="1000">
                        <!-- MAIN IMAGE -->
                        <img src="assets/img/sliders/revolution/bg2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="100"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            DEDICATED YUNG TEAM
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="200"
                             data-speed="1000"
                             data-start="2500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            We are creative technology company providing<br>
                            key digital services ........
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-3 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="360"
                             data-speed="800"
                             data-start="3500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <span class="page-scroll"><a href="#about" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a></span>
                            <span class="page-scroll"><a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a></span>
                        </div>
                    </li>

                    <!-- SLIDE -->
                    <li data-transition="slideup" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="assets/img/sliders/revolution/bg3.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="110"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            WE DO THINGS DIFFERENTLY
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sfb"
                             data-x="center"
                             data-hoffset="0"
                             data-y="210"
                             data-speed="800"
                             data-start="2500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            Creative freedom matters user experience.<br>
                            We minimize the gap between technology and its audience.
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-3 sfb"
                             data-x="center"
                             data-hoffset="0"
                             data-y="370"
                             data-speed="800"
                             data-start="3500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <span class="page-scroll"><a href="#about" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a></span>
                            <span class="page-scroll"><a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a></span>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
                <div class="tp-dottedoverlay twoxtwo"></div>
            </div>
        </div>
    </section>
    <!-- End Intro Section -->
    <!--  About Section -->
    <section id="about" class="about-section section-first">

        <div class="container content-lg">
            <div class="row">
                <div class="col-md-6 content-boxes-v3 margin-bottom-40">
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Innovation Leader</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-directions"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Best Solutions &amp; Approaches</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-diamond"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Quality Service &amp; Support</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img class="img-responsive" src="assets/img/mockup/neilGaimanQuote.jpg" alt="">
                </div>
            </div>
        </div>

        <!--   <div class="parallax-quote parallaxBg">
               <div class="container">
                   <div class="parallax-quote-in">
                       <p>If you can design one thing <span class="color-green">you can design</span> everything. <br> Just Believe It.</p>
                       <small>- HtmlStream -</small>
                   </div>
               </div>
           </div>    -->

        <div class="team content-lg">
            <div class="container">
                <div class="title-v1">
                    <h2>Meet Our Team</h2>
                    <p>
                        We <strong>meet</strong> and get to know you. You tell us and we listen. <br>
                        We build your website to realise your vision and we <strong>deliver</strong> the ready product.
                    </p>
                </div>


                <div class="list-unstyled row">
                    <li class="col-xs-6 col-sm-4 md-margin-bottom-30">
                        <div class="team-img">
                            <img src="assets/img/team/atahualpa-md.jpg" alt="" class="img-responsive">
                            <ul>
                                <li><a href="https://www.linkedin.com/profile/view?id=343558644&trk=nav_responsive_tab_profile_pic"><i class="icon-custom icon-sm rounded-x fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.facebook.com/manish.kakkar.33"><i class="icon-custom                             icon-sm rounded-x fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h3>TIM Atahualpa</h3>
                        <h4>
                            MANAGING MEMBER <br>
                            AND ASSOCIATE DEVELOPER
                        </h4>


                        <p> I  hire and fire employees, handle direct company operations and bind the company by                        entering into contracts on its behalf.</p>
                    </li>
                    <!--Atahualpa done-->
                    <!--Trussner:-->
                    <li class="col-xs-6 col-sm-4 md-margin-bottom-30">
                        <div class="team-img">
                            <img src="assets/img/team/img2-md.jpg" alt="" class="img-responsive">
                            <ul>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h3>
                            TIM TRUSSNER<h3>
                                <h4> SOFTWARE ENGINEER <br> AND GAME DESIGNER</h4>
                                <p>I take a huge part in developing the projects. I like to focus on new things that have                     never been done before.</p>
                    </li>
                    <!--trussner done-->
                    <!--Boode start-->
                    <li class="col-xs-6 col-sm-4 md-margin-bottom-30">
                        <div class="team-img">
                            <img class="img-responsive" src="assets/img/team/img3-md.jpg" alt="">
                            <ul>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h3>Tim Boode</h3>
                        <h4>/SOFTWARE ENGINEER AND CO-FOUNDER </h4>
                        <p>I have a importent part if we talk about managing descisions. I am a SCRUM master who has a great part in the development team. </p>
                    </li>

                    <!--Boode done-->
                </div>
                <div class="list-unstyled row">

                    <!--Pachacuti start-->
                    <li class="col-xs-6 col-sm-4 md-margin-bottom-30">
                        <div class="team-img">
                            <img class="img-responsive" src="assets/img/team/img5-md.jpg" alt="">
                            <ul>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h3>Tim Pachacuti</h3>
                        <h4>/ANDROID Developer</h4>
                        <p>I am part of the development team and take this company as an oppertunity to improve practicalally my programming abilities. </p>
                    </li>
                    <!--Pachacuti done-->
                    <!--Timsson start-->
                    <li class="col-xs-6 col-sm-4 md-margin-bottom-30">
                        <div class="team-img">
                            <img src="assets/img/team/img1-md.jpg" alt="" class="img-responsive">
                            <ul>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-custom                             icon-sm rounded-x fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h3>Tim Timsson</h3>
                        <h4>/ Android Developer <br></h4>

                        <p> I love to be part of this wonderfull team. I have a place where I can make the ideas we have as developers and a great team who is willing to participate in all kinds of projects. I am also a kitesurfer. </p>
                    </li>
                    <!--Timsson end-->
                    <!--Schopmeijr start-->
                    <li class="col-xs-6 col-sm-4 md-margin-bottom-30">
                        <div class="team-img">
                            <img src="assets/img/team/img1-md.jpg" alt="" class="img-responsive">
                            <ul>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-custom                             icon-sm rounded-x fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h3>Tim Locust</h3>
                        <h4>Developer <br></h4>

                        <p> I just joined this team and I love the way this team is bonded and have the same goals. We are not only a team, but also great friends. So I am very glad I joined this team. I am currently working on Farelia. Our music app. </p>
                    </li>
                    <!--schopmeijer ended-->
                    <!--Everyone is listed-->
                </div>
            </div>

        </div>








        <div class="parallax-counter parallaxBg">
            <div class="container">
                <h4 align="center"> <span>&quot;It's not about ideas, i'ts about making it happen.&quot;            </span></h4>


                <div align="center">
                    <!--    <div class="row">
                          <div class="col-sm-3 col-xs-6">
                              <div class="counters">
                                  <span class="counter">10629</span>
                                  <h4>Users</h4>
                              </div>
                          </div>
                          <div class="col-sm-3 col-xs-6">
                              <div class="counters">
                                  <span class="counter">277</span>
                                  <h4>Projects</h4>
                              </div>
                          </div>
                          <div class="col-sm-3 col-xs-6">
                              <div class="counters">
                                  <span class="counter">78</span>
                                  <h4>Team Members</h4>
                              </div>
                          </div>
                          <div class="col-sm-3 col-xs-6">
                              <div class="counters">
                                  <span class="counter">109</span>
                                  <h4>Awards</h4>
                              </div>
                          </div>
                      </div> -->
                </div>
            </div>
            <div class="container">
                <h2 align="right"><span>-Timanity</span></h2>

            </div>
        </div>
    </section>
  
    <!-- Portfolio Section -->
    <section id="portfolio" class="about-section">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Our Portfolio</h2>
            </div>
            <div class="wrapper-portfolio">
                <div id="filters-container" class="cbp-l-filters-alignLeft">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All (<span class="cbp-filter-counter"></span> items)</div>
                    <div data-filter=".print" class="cbp-filter-item">Games (<span class="cbp-filter-counter"></span> items)</div>
                    <div data-filter=".web-design" class="cbp-filter-item">Applications (<span class="cbp-filter-counter"></span> items)</div>
                </div>

                <div id="grid-container" class="cbp-l-grid-gallery">
                    <ul>
                        <li class="cbp-item print motion">
                            <a href="assets/ajax/project1.html" class="cbp-caption cbp-singlePageInline" data-title="Schermutseling<br>by Tim Trussner">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/img/portfolio/schermutseling.jpg" alt="" height="230" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">SCHERMUTSELING</div>
                                            <div class="cbp-l-caption-desc">by Tim Trussner </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item web-design">
                            <a href="assets/ajax/project2.html" class="cbp-caption cbp-singlePageInline" data-title="Bolt UI<br>by Tiberiu Neamu">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/img/portfolio/2.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Bolt UI</div>
                                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item print motion">
                            <a href="assets/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="WhereTO App<br>by Tiberiu Neamu">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/img/portfolio/3.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">WhereTO App</div>
                                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item web-design print">
                            <a href="assets/ajax/project4.html" class="cbp-caption cbp-singlePageInline" data-title="iDevices<br>by Tiberiu Neamu">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/img/portfolio/11.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">iDevices</div>
                                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item motion">
                            <a href="assets/ajax/project5.html" class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/img/portfolio/5.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item print motion">
                            <a href="assets/ajax/project6.html" class="cbp-caption cbp-singlePageInline" data-title="Remind~Me Widget<br>by Tiberiu Neamu">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/img/portfolio/6.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Remind~Me Widget</div>
                                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item web-design print">
                            <a href="assets/ajax/project7.html" class="cbp-caption cbp-singlePageInline" data-title="Workout Buddy<br>by Tiberiu Neamu">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/img/portfolio/7.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Workout Buddy</div>
                                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item print">
                            <a href="assets/ajax/project8.html" class="cbp-caption cbp-singlePageInline" data-title="Digital Menu<br>by Cosmin Capitanu">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/img/portfolio/8.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Digital Menu</div>
                                            <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item motion">
                            <a href="assets/ajax/project9.html" class="cbp-caption cbp-singlePageInline" data-title="Holiday Selector<br>by Cosmin Capitanu">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="assets/img/portfolio/4.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">Holiday Selector</div>
                                            <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="cbp-l-loadMore-button">
                    <a href="assets/ajax/loadMore.html" class="cbp-l-loadMore-button-link">LOAD MORE</a>
                </div>
            </div>
        </div>

        <!--   <div class="clients-section parallaxBg">
               <div class="container">
                   <div class="title-v1">
                       <h2>Our Clients</h2>
                   </div>
                   <ul class="owl-clients-v2">
                       <li class="item"><a href="#"><img src="assets/img/clients/national-geographic.png" alt=""></a></li>
                       <li class="item"><a href="#"><img src="assets/img/clients/inspiring.png" alt=""></a></li>
                       <li class="item"><a href="#"><img src="assets/img/clients/fred-perry.png" alt=""></a></li>
                       <li class="item"><a href="#"><img src="assets/img/clients/emirates.png" alt=""></a></li>
                       <li class="item"><a href="#"><img src="assets/img/clients/baderbrau.png" alt=""></a></li>
                       <li class="item"><a href="#"><img src="assets/img/clients/inspiring.png" alt=""></a></li>
                   </ul>
               </div>
           </div>     -->

        <div class="testimonials-v3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <ul class="list-unstyled owl-ts-v1">
                            <li class="item">
                                <img class="rounded-x img-bordered" src="assets/img/team/img3-sm.jpg" alt="">
                                <div class="testimonials-v3-title">
                                    <p>David Case</p>
                                    <span>Web Developer, Google</span>
                                </div>
                                <p>
                                    I just wanted to tell you how much I like to use Timanity - <strong>it's so sleek and elegant!</strong> <br>
                                    The customisation options you implemented are countless, and I feel sorry I can't use them all. Good job, and keep going!
                                <p>
                            </li>
                            <li class="item">
                                <img class="rounded-x img-bordered" src="assets/img/team/img2-sm.jpg" alt="">
                                <div class="testimonials-v3-title">
                                    <p>Tina Krueger</p>
                                    <span>UI Designer, Apple</span>
                                </div>
                                <p>Keep up the great work. Your template is by far the best on the market in terms of features, quality and value or money.</p>
                            </li>
                            <li class="item">
                                <img class="rounded-x img-bordered" src="assets/img/team/img1-sm.jpg" alt="">
                                <div class="testimonials-v3-title">
                                    <p>John Clarck</p>
                                    <span>Marketing &amp; Cunsulting, IBM</span>
                                </div>
                                <p>So far I really like the theme. I am looking forward to exploring more of your themes. Thank you!</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Section -->
    <!-- Contact Section -->
    <section id="contact" class="contacts-section">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Contact Us</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                    It has been the industry's standard dummy text.
                </p>
            </div>

            <div class="row contacts-in">
                <div class="col-md-6 md-margin-bottom-40">
                    <ul class="list-unstyled">
                        <!--<li><i class="fa fa-home"></i> 5B Streat, City 50987 New Town US</li>-->
                        <li><i class="fa fa-phone"></i> 0610141324</li>
                        <li><i class="fa fa-envelope"></i> <a href="info@example.com">tim@timanity.com</a></li>
                        <li><i class="fa fa-globe"></i> <a href="http://htmlstream.com">www.htmlstream.com</a></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <form>
                        <label>Name</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-7 col-md-offset-0">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <label>Email <span class="color-red">*</span></label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-7 col-md-offset-0">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <label>Message</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-11 col-md-offset-0">
                                <textarea rows="8" class="form-control"></textarea>
                            </div>
                        </div>

                        <p><button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark">Send Message</button></p>
                    </form>
                </div>
            </div>
        </div>

        <div class="copyright-section">
            <p>2014 &copy; All Rights Reserved. </p>
            <ul class="social-icons">
                <li><a href="#" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
                <li><a href="#" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
                <li><a href="#" data-original-title="Goole Plus" class="social_googleplus rounded-x"></a></li>
                <li><a href="#" data-original-title="Pinterest" class="social_pintrest rounded-x"></a></li>
                <li><a href="#" data-original-title="Linkedin" class="social_linkedin rounded-x"></a></li>
            </ul>
            <span class="page-scroll"><a href="#intro"><i class="fa fa-angle-double-up back-to-top"></i></a></span>
        </div>
    </section>
    <!-- End Contact Section -->
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="assets/plugins/jquery.easing.min.js"></script>
    <script type="text/javascript" src="assets/plugins/pace/pace.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.parallax.js"></script>
    <script type="text/javascript" src="assets/plugins/counter/waypoints.min.js"></script>
    <script type="text/javascript" src="assets/plugins/counter/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="assets/plugins/revolution-slider/examples-sources/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="assets/plugins/revolution-slider/examples-sources/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- load caPortfolio plugin -->
    <script type="text/javascript" src="assets/plugins/cbp-plugin/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <!-- load main js -->
    <script type="text/javascript" src="assets/plugins/cbp-plugin/templates/lightbox-gallery/js/main.js"></script>

    <!-- JS Page Level-->
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/plugins/owl-carousel.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initCounter();
            App.initParallaxBg();
            OwlCarousel.initOwlCarousel();
        });
    </script>

    <script type="text/javascript">
        var revapi;
        jQuery(document).ready(function() {
           revapi = jQuery('.fullscreenbanner').revolution(
            {
                delay:15000,
                startwidth:1170,
                startheight:500,
                hideThumbs:10,
                fullWidth:"on",
                fullScreen:"on",
                dottedOverlay:"twoxtwo",
                fullScreenOffsetContainer: "",
            });
        });
    </script>

    <script type="text/javascript">
        paceOptions = {
          // Disable the 'elements' source
          elements: false,

          // Only show the progress on regular and ajax-y page navigation,
          // not every request
          restartOnRequestAfter: false
        }
    </script>

    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
        <script src="assets/plugins/html5shiv.js"></script>
    <![endif]-->
