

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Wooods.</h1>
                <h2>Doe eens gek, koop bij Wooods!</h2>
            </hgroup>
            <p>
                Welkom op onze homepage.
            </p>
        </div>
    </section>
}
<script>document.title = "Home"</script>
<h3>U kunt op onze site het volgende doen:</h3>
<ol class="round">
    <li class="one">
        <h5>Koop uw producten!</h5>
        U kunt in onze webwinkel al onze producten naar keuze online bestellen en thuis,<br />
        of bij een vriend af laten leveren!
    </li>

    <li class="two">
        <h5>Alleen natuurlijke producten!</h5>
        Al onze producten zijn natuurlijk.<br />
        Wij gebruiken alleen hout en andere natuurlijke producten!
    </li>

    <li class="three">
        <h5>Alleen het beste design meubilair!</h5>
        Wooods verkoopt alleen designer houten meubilair van hoge kwaliteit.<br />
    </li>
</ol>
