@{
    ViewBag.Title = "TOS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TOS</h2>

<b>Terms of service</b><br>Gebruik deze website niet voor het ontwikkelen van nucleaire wapens<br>Een enkele breuk van de eerder genoemde regels noodzaakt ons u te verbannen van deze website.<br>