
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>document.title = "Algemene voorwaarden"</script>
<h2>Algemene voorwaarden</h2>

<b>Algemene voorwaarden</b>
<br>Gebruik deze website niet voor het ontwikkelen van nucleaire wapens
<br>Een enkele breuk van de eerder genoemde regels noodzaakt ons u te verbannen van deze website.
<br>
