<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Terms of service</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Algemene voorwaarden</h2>

<b>Algemene voorwaarden</b>
<br>Gebruik deze website niet voor het ontwikkelen van nucleaire wapens
<br>Een enkele breuk van de eerder genoemde regels noodzaakt ons u te verbannen van deze website.
<br>
