<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Werknemers</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Werknemers</h2>
<h2 align="center">Onze collega's</h2>

<table align="center">

    <tr>
        <th><img src="~/Images/plopper.jpg" title="Baas" alt="sorry voor het ongemak"></th>
        <th><img src="~/Images/opl.jpg" title="Baas" alt="sorry voor het ongemak"></th>
    </tr>

    <tr>
        <td>Eigenaar</td>
        <td>Eigenaar</td>
    </tr>

    <tr>
        <th><img src="~/Images/candy.jpg" title="verkoper" alt="sorry voor het ongemak"></th>
        <th><img src="~/Images/dick.jpg" title="verkoper" alt="sorry voor het ongemak"></th>
    </tr>

    <tr>
        <td>Verkoper</td>
        <td>Verkoop specialist</td>
    </tr>


    <tr>
        <th><img src="~/Images/grijs.jpg" title="balie" alt="sorry voor het ongemak"></th>
        <th><img src="~/Images/jeroengrijs.jpg" title="hulpdesk" alt="sorry voor het ongemak"></th>
        <th><img src="~/Images/henkjansmith.jpg" title="magazijnmedewerker" alt="sorry voor het ongemak"></th>
    </tr>

    <tr>
        <td>Balie</td>
        <td>Helpdesk</td>
        <td>Magazijnmedewerker</td>
    <tr>

    <tr>
        <th><img src="~/Images/hans.jpg" title="chauffeur" alt="sorry voor het ongemak"></th>
        <th><img src="~/Images/jensen.jpg" title="schoonmaker" alt="sorry voor het ongemak"></th>
        <th><img src="~/Images/tante es.jpg" title="kok" alt="sorry voor het ongemak"></th>
    </tr>

    <tr>
        <td>Chauffeur</td>
        <td>Schoonmaker</td>
        <td>Kok</td>
    <tr>

    <tr>
        <th><img src="~/Images/borat.jpg" title="hout bewerker" alt="sorry voor het ongemak"></th>
        <th><img src="~/Images/bruno.jpg" title="designer" alt="sorry voor het ongemak"></th>
    </tr>

    <tr>
        <td>Hout bewerker</td>
        <td>Designer</td>
    <tr>

    <tr>
        <th><img src="~/Images/recep.png" title="bewaking" alt="sorry voor het ongemak"></th>
        <th><img src="~/Images/dog.jpg" title="bewaking" alt="sorry voor het ongemak"></th>
    </tr>

    <tr>
        <td>Bewaking</td>
        <td>Bewaking</td>
    </tr>

</table>
