@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form name="datumForm" action="/home/benoemMaand" method="post">
    Dag: <input type="text" name="dag" value="1" /><br />
    Maand: <input type="text" name="maand" value="januari" /><br />
    Jaar: <input type="text" name="jaar" value="2015" /><br />
    <input type="submit" value="Verzenden" />
</form>