<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Admin Panel</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminPanel</h2>
<h3>Gebruikers beheren</h3>
<!--<input id="Button1" type="button" onclick="location.href='/AddUser.cshtml'" value='Gebruiker toevoegen' type="button" value="button" />-->
<input id="Button2" type="button" onclick="location.href='/admin/manageuser'" value='Gebruiker beheren' type="button" value="button" />
<!--<input id="Button3" type="button" onclick="location.href='/DeleteUser.cshtml'" value='Gebruiker verwijderen' type="button" value="button" />-->

<h3>Producten beheren</h3>
<input id="Button4" type="button" onclick="location.href='/product/newproduct'" value='Product toevoegen' type="button" value="button" />
<!--<input id="Button5" type="button" onclick="location.href='/ManageProduct.cshtml'" value='Product beheren' type="button" value="button" />
<input id="Button6" type="button" onclick="location.href='/DeleteProduct.cshtml'" value='Product verwijderen' type="button" value="button" />-->

<h3>Bestellingen beheren</h3>


<h3>Voorraad beheren</h3>
