@model WebWinkelGroep5.Models.BestellingStatus

@{
    ViewBag.Title = "WijzigBestellingStatus";
}

<h2>WijzigBestellingStatus</h2>

@using (Html.BeginForm("WijzigBestellingStatus", "Bestelling"))
{
    @Html.ValidationSummary(true)

    <div class="editor-label">
        Status
    </div>
    @Html.HiddenFor(model => model.bestellingId)
    <div class="editor-field">
        @Html.DropDownListFor(model => model.BestellingStatus, Enum.GetValues(typeof(WebWinkelGroep5.Models.BestellingS)).Cast<WebWinkelGroep5.Models.BestellingS>().Select(v => new SelectListItem
       {
           Text = v.ToString().Replace("_", " "),
           Value = ((int)v).ToString()
       }), "[Select]")
        @Html.ValidationMessageFor(model => model.BestellingStatus)

    </div>

    <p>
        <input type="submit" value="Wijzig" />
    </p>
}