@model WebWinkelGroep5.Models.AccountModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<hgroup class="title">
    <h1>Log in.</h1>
</hgroup>

<section id="loginForm">
<h2>@Model.loginMessage</h2>
    <br />
    <a href="@Model.lastUrl">Klik hier om terug te gaan naar de laatste pagina!</a>
    </section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
