@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Head</h2>

<section id="loginForm">
    <h2>@ViewBag.Message</h2>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
