@model WebWinkelGroep5.Models.WinkelmandModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uw winkelmand!</h2><br />

@{
    if (Model != null)
    {
        List<WebWinkelGroep5.Models.WinkelmandItemModel> items = Model.items;
        foreach (WebWinkelGroep5.Models.WinkelmandItemModel item in items)
        {
            <h3>@(item.amount)x @WebWinkelGroep5.Controllers.DatabaseController.getProductName(item.productId) a @(WebWinkelGroep5.Controllers.DatabaseController.getProductPrice(item.productId) * item.amount)</h3>
        }
    }
    else
    {
        <a href="../Product/Index">Uw winkelmand is nog leeg. Klik hier om producten te kiezen!</a>
    }
}

<br><br><a href='../Bestelling/MaakBestelling'>Plaats Bestelling</a>@model WebWinkelGroep5.Models.WinkelmandModel
