@model WebWinkelGroep5.Models.WinkelmandModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uw winkelmand!</h2><br />

@{
    if (Model != null)
    {
        List<WebWinkelGroep5.Models.WinkelmandItemModel> items = Model.items;
        foreach (WebWinkelGroep5.Models.WinkelmandItemModel item in items)
        {
            <h3>@(item.amount)x @item.name a @item.price</h3>
        }
    }
    else
    {
        <a href="../Product/Index">Uw winkelmand is nog leeg. Klik hier om producten te kiezen!</a>
    }
}

<br><br><a href='../Bestelling/MaakBestelling?prevUrl=/Winkelmand/Viewmand'>Plaats Bestelling</a>