@{
}

@model WebWinkelGroep5.Models.MailModel

<hgroup class="title">
    <h1>Contact.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>U kunt ons op deze manier bereiken</h3>
    </header>
    <p>
        <span class="label">Telefoonnummer</span>
        <span>0697653591</span>
    </p>
    <p>
        <span class="label">Openingstijden</span>
        <span>
            Maandag-vrijdag: 09:00-18:00<br />
            Zaterdag: 10:00-17:00
        </span>
    </p>
</section>

<fieldset>
    <p>
        <span class="label">E-mail:</span>
    </p>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>Van: </p>
        <p>@Html.TextBoxFor(m => m.From)</p>
        <p>Onderwerp: </p>
        <p>@Html.TextBoxFor(m => m.Subject)</p>
        <p>Bericht: </p>
        <p>@Html.TextAreaFor(m => m.Body)</p>
        <input type="submit" value="Send" />
    }
</fieldset>

<section class="contact">
    <header>
        <h3>Adres</h3>
    </header>
    <p>
        Stationsweg 1<br />
        1815 CD Alkmaar
    </p>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.nl/maps?f=q&amp;source=s_q&amp;hl=nl&amp;geocode=&amp;q=stationsweg+1+alkmaar&amp;aq=&amp;sll=52.635485,4.74191&amp;sspn=0.009064,0.022724&amp;t=h&amp;g=52.637582,4.74079&amp;ie=UTF8&amp;hq=&amp;hnear=Stationsweg+1,+1815+CA+Alkmaar&amp;ll=52.635485,4.74191&amp;spn=0.009063,0.022724&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.nl/maps?f=q&amp;source=embed&amp;hl=nl&amp;geocode=&amp;q=stationsweg+1+alkmaar&amp;aq=&amp;sll=52.635485,4.74191&amp;sspn=0.009064,0.022724&amp;t=h&amp;g=52.637582,4.74079&amp;ie=UTF8&amp;hq=&amp;hnear=Stationsweg+1,+1815+CA+Alkmaar&amp;ll=52.635485,4.74191&amp;spn=0.009063,0.022724&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Grotere kaart weergeven</a></small>
</section>