
    <text>
        Hello, User! 
        
        <a href="~Account/Logoff">Log off</a>
        
    </text>
    <ul>
        <li><a href="~/Account/RegisterPage">Register</a></li>
        <li><a href="~/Account/LoginPage">Log In</a></li>
    </ul>
