@using MvcApplication4.Models
@model Student

@{
    ViewBag.Title = "ShowStudent";
}

<h2>Wijzig student</h2>

@{

    if (@Model == null) 
    {
        <p>Geen match gevonden</p>
    }
    else
    {
        <div>
            Gevonden student:<br />
            <div id="studGegevens">
                <form name="editStudent" action="/Student/SaveStudent" method="post">
                    <input type="hidden" name="id" value="@Model.id" />
                    Voornaam <input type="text" name="voornaam" value="@Model.voornaam" />
                    Achternaam <input type="text" name="achternaam" value="@Model.achternaam" />
                    Woonplaats <input type="text" name="woonplaats" value="@Model.woonplaats" />
                    <input type="submit" value="Opslaan" />
                    <input type="button" value="Annulerem" />
                </form>
            </div>
        </div>
    }
}