@using MvcApplication4.Models;
@model List<Student>

@{
    ViewBag.Title = "ShowAllStudents";
}

<h2>ShowAllStudents</h2>
<div>
    <ol>
        @{
            foreach (Student stud in Model)
            {
                String value = stud.voornaam + " " + stud.achternaam;
                <li><a href="/Student/EditStudent/?id=@stud.id">@value</a></li>
            }
        }
    </ol>
</div>
